* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'pokemon_gbregular', monospace;
}

@font-face {
    font-family: 'pokemon_gbregular';
    src: url('pokemon_gb-webfont.woff2') format('woff2'),
        url('pokemon_gb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-color: rgb(247, 234, 219);
    --secondary-color: #fb0505;
    --light-gray: rgb(233, 230, 230);
    --header-height: 10vh;
    --footer-height: 3vh;
}

body {
    margin-inline: 15rem;
    .root {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
}

header,
footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding-block: 1rem;
}

header {
    border: solid 2px black;
    flex: 2 0 var(--header-height);
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lights {
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 25%;
    li {
        margin: 1rem;
    }
    &_blue {
        font-size: 8rem;
        color: #06fbfb;
    }
    &_red {
        font-size: 4rem;
        color: #9b0505;
    }
    &_yellow {
        font-size: 4rem;
        color: #ffff34;
    }
    &_green {
        font-size: 4rem;
        color: #8bff4c;
    }
}

header h1 {
    margin-block-start: 0;
    margin-block-end: 1rem;
}

footer {
    flex: 1 0 var(--footer-height);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    flex: 20 0 auto;
    padding: 1rem;
    text-align: center;
    border: solid 2px black;
    h2 {
        padding: 0;
        margin: 0;
    }
    .slot-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .item-detailed {
        list-style: none;
        .detail {
            margin: 1.5rem;
            border-bottom: solid 1px black;
        }
    }
    .pokemon {
        background-color: black;
        margin: 1rem;
        border: solid 2px #9b0505;
        align-items: center;
        align-content: center;
        h4 {
            display: block;
            color: white;
            border-bottom: white 1px solid;
        }
        h4:hover {
            cursor: pointer;
            color: rgb(22, 227, 22);
        }
        img {
            justify-self: center;
            align-items: center;
        }
        button {
            align-content: center;
            position: absolute;

            translate: -1.4rem 4.9rem;
            font-style: normal;
        }
    }
    button:hover {
        cursor: pointer;
        background-color: rgb(22, 227, 22);
    }
    div button {
        cursor: pointer;
        margin-block: 2rem;
    }
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu ul,
.menu li {
    padding: 0;
    margin: 0;
}

.menu a {
    text-decoration: none;
    color: inherit;
    padding-inline-end: 1rem;
    padding-block: 1rem;
}

.hidden {
    display: none;
}

form.add-task label {
    display: block;
    padding-block-end: 0.5rem;
}

form.add-task input {
    border: none;
    border-block-end: 2px solid var(--light-gray);
    width: 100%;
    margin-block-end: 1rem;
}

ul.slot-items {
    list-style: none;
    padding: 0;
    margin: 0;
}
li.item-task {
    padding: 0;
    margin: 0.2rem;
    display: flex;
    justify-content: space-between;
    border: 2px solid var(--light-gray);
}
.item-task__start,
.item-task__end {
    flex: 1 0 auto;
}

.item-task__end {
    flex: 1 0 auto;
    display: flex;
    justify-content: flex-end;
}

.item-task__middle {
    flex: 5 0 auto;
    display: flex;
    justify-content: space-between;
}

li.item-task .button {
    cursor: pointer;
}

footer {
    border: solid 2px black;
    address {
        background-color: #5f9148;
        padding: 1rem;
        padding-inline: 10rem;
        border: solid 1px black;
    }
}
